<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    <div class="card-body">
        <h4 class="card-title"> display category deatiles</h4>
<div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th> name </th>
                            <th> discription </th>
                            <th> image </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr >
                            <td>{{ d.Name}}</td>
                            <td>{{ d.Discription}}</td>
                            <td> <img src="{{ d.Image.url }}"></td>
                            <td>
                                <form action="{% url 'editcat' dataid=d.id %}">
                                    <button type="submit>" class="btn btn-success">Edit</button>
                                </form>
                                 </td>
                            <td>
                                <form action="{% url 'Deletecat' dataid=d.id %}">
                                    <button type="submit" class="btn btn-success">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>

</body>
</html>
{% endblock %}